.container {
  width: 100%;
  color: black;
  background-color: var(--main);
  height: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 1.25rem;
  position: fixed;
  z-index: 10;
}

@media (min-width: 768px) {
  .container {
      padding: 1.5rem;
  }
}

@media (min-width: 640px) {
  .container {
      height: 4rem;
  }
}

.pageLink{
  font-size: 16pt;
  color: black;
}