.container {
  width: 100%;
  color: black;
  background-color: #deedef;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: fixed;
  padding: 1.5rem;
  z-index: 10;
}

.pageLink{
  font-size: 16pt;
  color: black;
  height: fit-content;
}