@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ddecee;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ddecee;
    --foreground: #ededed;
  }
}

.no-scroll {
  overflow: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @font-face {
    font-family: 'Now';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../public/now.otf) format('woff2');
  }
}