.projectRow {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
  &.leftAligned {
    flex-direction: row-reverse;
  }
  &.expanded {
    transform: scale(1.05);
    margin-top: 20px;
    margin-bottom: 80px;
    pointer-events: none;
    scrollbar-width: none; 

  }
}

.technologyRow{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 10px;
}
.buttonRow{
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.techIcon{
  margin: 5px 10px;
}
.imageWrapper,
.textWrapper {
  transition: all 0.5s ease-in-out;
}

.closeButton {
  position: absolute;
  top: 79px;
  left: 0px;
  z-index: 1000;
  background-color: rgb(167, 64, 64);
  color: white;
  border: none;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  font-size: 1.25rem;
  cursor: pointer;
}

.expandedWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1000px;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 999;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  pointer-events: auto;
}

.iframeSizing.expanded {
  position: fixed;
  top: 55%;
  left: 50%;
  width: 1000px;
  height: calc(100vh - 70px);
  transform: translate(-50%, -50%);
  z-index: 3;
  border-radius: 12px;
  pointer-events: auto;
}

.projectTitle{
  font-size: 16pt;
  font-weight: 600;
  padding-bottom: 10px;
}


.imageWrapper {
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}

.iframeSizing {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  background-size: cover;
  scrollbar-width: none; 
  pointer-events: none;
}

.iframeSizing::-webkit-scrollbar {
  display: none;
}

.technologiesTitle{
  font-size: 24pt;
  font-weight: 400;
  margin-bottom: 0px;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 12px;
  color: white;
  font-size: 1.25rem;
  z-index: 2; 
  pointer-events: auto; 
}

.textWrapper {
  color: black;
  width: 500px;
  height: 500px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}



@media screen and (max-width: 1000px) {
  .projectRow {
    flex-direction: column-reverse;
    margin-bottom: 20px;

    &.leftAligned {
      flex-direction: column-reverse; 
    }
  }
  .expandedWrapper{
    width: 100vw;
  }
  .iframeSizing.expanded {
   width: 100%;
  }
  .imageWrapper{
    min-width: 490px;
    width: calc(100% - 100px);
  }

  .overlay{
    min-width: 490px;
    width: max(490px, calc(100%));
  }

  .textWrapper {
    min-width: 490px;
    width: 100%;
    padding: 30px 50px 100px 50px;
    height: fit-content;
  }

  .iframeSizing{
    min-width: 490px;
  }
  
}
